body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.tab.active {
    border-color: #2883a7;
    font-weight: bold;
    color: #2883a7;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .container {
    background-color: #1e1e1e;
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.toggle-switch input {
    margin-left: 10px;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    background-color: #2883a7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2883a7;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2894a7;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('C:\Users\filip\Desktop\teste pap site\imagens'); /* Caminho relativo para a imagem */
    background-size: cover; /* A imagem vai cobrir toda a tela */
    background-position: center; /* A imagem será centralizada */
    background-attachment: fixed; /* A imagem fica fixa quando você rolar a página */
}
